# Goodix 5385 fingerprint sensor udev rules
# Grant access to users in the 'input' group
SUBSYSTEM=="usb", ATTR{idVendor}=="27c6", ATTR{idProduct}=="5385", MODE="0660", GROUP="input"
